<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>
    <!--CSS-->
    <link rel="shortcut icon" href="~/Content/favicon.ico">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min93e3.css" rel="stylesheet" />
    <link href="~/Content/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="~/Content/style.min862f.css" rel="stylesheet" />
    
    <!--引入的JS-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/messages_zh.js"></script>

    <script src="~/Scripts/jquery.metisMenu.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/layer.min.js"></script>
    <script src="~/Scripts/hplus.min862f.js"></script>
    <script src="~/Scripts/contabs.min.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    

    @RenderSection("HeaderSection", false)
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden; padding-top: 0px;">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!--下拉-->
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">权限管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:1836/UserManage/Index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="nav-label">员工管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:1836/Dictionary/Index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="nav-label">数据字典管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:1836/Role/Index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="nav-label">角色管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://localhost:1836/Module/Index">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="nav-label">模块管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="glyphicon glyphicon-chevron-left"></i> </a>
                    </div>
                    
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown hidden-xs">
                            <a class="right-sidebar-toggle" aria-expanded="false" href="http://localhost:1836/LogIn/LogIn">
                                <i class="fa fa-tasks"></i> 注销
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--body-->
            <div class="row J_mainContent" id="content-main">
               @RenderBody();
            </div>
            <!--footer-->
            <div class="footer">
                <div class="pull-right">
                    &copy; 2017 <a href="#" target="_blank">star park</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
</body>
</html>
