@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/H_LayOut.cshtml";
}

@section TitleSection{
    Dictionary
    }
@section HeaderSection{
    @*jsTree CSS*@
    <script src="~/Scripts/jstree.js"></script>
    <link href="~/Content/style.min.css" rel="stylesheet"/>
    @*DataTable*@
    <script type="text/javascript">
        $(function() {
            ModulejsTree();
        });

        //模块jstree
        function ModulejsTree() {
            $(".moduleTree").on("loaded.jstree",
                    function(e, data) {
                        $('#jsTree').jstree("deselect_all", true);
                        $("#jsTree").jstree("open_all");
                    })
                .jstree({
                    "core": {
                        "multiple": false,
                        "animation": 0,
                        "themes": "",
                        "data": {
                            "url": "/Module/TreeList",
                            "datatype": "json",
                        }
                    },
                    "types": {
                        "default": { "icon": "glyphicon glyphicon-asterisk" }
                    },
                    "state": { "key": "state_demo" },
                    "themes": {
                        "themes": "default",
                        "dots": true,
                        "icon": false
                    },
                    "plugins": ["state", "types", "themes"]
                })
                .bind("select_node.jstree",
                    function(e, data) {
                        var inst = data.instance;
                        var selectedNode = inst.get_node(data.selected);
                        AddCreate(selectedNode.id);
                        $("#moduleId").val(selectedNode.id);
                    });
        }

        //新增修改模块
        function AddCreate(moduleId) {
            if (moduleId === 0) {
                $('#jsTree').jstree("deselect_all", true);
            }
            $("#moduleId").val("");
            var loadUrl = "/Module/ModuleDetail?id=" + moduleId;
            $("#rightPart").load(loadUrl);
        }

        //删除模块
        function Delete() {
            var ref = $("#moduleId").val();
            if (ref === null || ref === "" || ref === "j1_1") {
                alert("请选择一个模块！");
                return false;
            }
            var deleteCheck = confirm("确认删除这条数据？");
            if (deleteCheck) {
                $.ajax({
                    url: "/Module/Delete?id=" + ref,
                    datatype: "json",
                    type: "post",
                    success: function(data) {
                        if (data === "accesss") {
                            $(".moduleTree").jstree(true).refresh();
                            AddCreate(0);
                        } else {
                            alert(data);
                        }
                    }
                });
            }
            return false;
        }

        function SaveModule() {
            var isvalid = NameValid().form();
            if (isvalid) {
                var data = $("Form").serialize();
                $.ajax({
                    url: "/Module/Save",
                    datatype: "json",
                    type: "post",
                    data: data,
                    success: function(data) {
                        if (data === "access") {
                            alert("保存成功！");
                            $(".moduleTree").jstree(true).refresh();
                            CleanAll();
                        } else {
                            alert(data);
                        }
                    }
                });
            } else {
                return;
            }
        }

        //验证重名
        function NameValid() {
            return $("#ModuleForm").validate({
                rules: {
                    ChineseName: {
                        remote: {
                            cache: false,
                            async: false,
                            url: "/Module/CheckModuleName",
                            type: "post",
                            datatype: "json",
                            data: {
                                moduleName: function() {
                                    return $("#ChineseName").val();
                                },
                                id: function() {
                                    return $("#Id").val();
                                }
                            }
                        }
                    }
                },
                messages: {
                    ChineseName: {
                        remote: "这个名字已经有人用过了"
                    }
                }
            });
        }
    </script>
}

<div class="row">
    @* 模块树*@
    <div class="col-md-2">
        <div class="row" style="margin: 2px;">
            <button id="creatMainbtn" onclick="AddCreate(0);" role="button" class="btn btn-success btn-sm" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> </button>
            <button id="deletMainbtn" onclick="Delete();" role="button" class="btn btn-danger btn-sm" data-toggle="modal"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        <div id="jsTree" class="moduleTree" style="margin-top: 1em; min-height: 200px;"></div>
    </div>

    <input type="hidden" id="moduleId" value="0"/>
    @*右边编辑*@
    <div class="col-md-10" id="rightPart">
    </div>
</div>
