@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/H_LayOut.cshtml";
}

@section TitleSection{
    Dictionary
    }
@section HeaderSection{
    @*jsTree CSS*@
    <script src="~/Scripts/jstree.js"></script>
    <link href="~/Content/style.min.css" rel="stylesheet" />
    @*DataTable*@
    <script type="text/javascript">
        $(function() {
            ModulejsTree();
            //$("#moduleId").val("");
        });

        //模块jstree
        function ModulejsTree() {
            $(".moduleTree").on("loaded.jstree",function(e, data) {
                    $('#jsTree').jstree("deselect_all", true);
                    $("#jsTree").jstree("open_all");
                })
                .jstree({
                    "core": {
                        "multiple": false,
                        "animation": 0,
                        "themes": "",
                        "data": {
                            "url": "/Module/TreeList",
                            "datatype": "json",
                            //"data": function(node, callback) {
                            //    return { "id": node.id === "#" ? "0" : node.id };
                            //}
                        }
                    },
                    "types": {
                        "default": { "icon": "glyphicon glyphicon-asterisk" }
                    },
                    "state": { "key": "state_demo" },
                    "themes": {
                        "themes": "default",
                        "dots": true,
                        "icon": false
                    },
                    "plugins": ["state", "types", "themes"]
                })
                .bind("select_node.jstree",
                    function(e, data) {
                        var inst = data.instance;
                        var selectedNode = inst.get_node(data.selected);
                        AddCreate(selectedNode.id);
                        $("#moduleId").val(selectedNode.id);
                        RoleJsTree();
                    });
        }

        //新增修改模块
        function AddCreate(moduleId) {
            if (moduleId === 0) {
                $('#jsTree').jstree("deselect_all", true);
            }
            $("#moduleId").val("");
            var loadUrl = "/Module/ModuleDetail?id=" + moduleId;
            $("#panel_Edit").load(loadUrl);
        }

        //删除模块
        function Delete() {
            var ref = $("#moduleId").val();
            if (ref === null || ref === "" || ref ==="j1_1") {
                alert("请选择一个模块！");
                return false;
            }
            var deleteCheck = confirm("确认删除这条数据？");
            if (deleteCheck) {
                $.ajax({
                    url: "/Module/Delete?id=" + ref,
                    datatype: "json",
                    type: "post",
                    success: function(data) {
                        if (data ==="accesss") {
                            $(".moduleTree").jstree(true).refresh();
                            CleanAll();
                        } else {
                            alert("删除失败！");
                        }
                    }
                });
            }
            return false;
        }

        //构建角色分配jstree
        function RoleJsTree(id) {
            $("#ModuleRoleJsTree").bind("loaded.jstree", function (e, data) {
                $("#ModuleRoleJsTree").jstree("open_all"); 
            }).jstree({
                "core": {
                    "data":
                    {
                        "url": "/Module/RoleTreeList?id="+id,
                        "dataType": "json"
                    }
                },
                "checkbox": {
                    "keep_selected_style": false
                },
                "plugins": ["checkbox"]
            });
        }

        //保存所选角色
        function SaveRoles() {
            var moduleId = $("#moduleId").val();
            if (moduleId === "0" || moduleId === "" || moduleId === null || moduleId ==="j1_1") {
                alert("请选择一个模块");
                return;
            }
            var ids = $('#ModuleRoleJsTree').jstree().get_checked(); //获取所有选中的节点ID
            $.ajax({
                url: "/Module/SaveChooseRoles",
                datatype: "json",
                type: "post",
                data: {
                    ids: ids.toString(),
                    moduleId: moduleId
                },
                success:function(data) {
                    if (data !== "access") {
                        alert(data);
                    } else {
                        alert("保存成功！");
                    }
                }
            });
        }
    </script>
}

<div class="row">
    @* 模块树*@
    <div class="col-md-2">
        <div class="row" style="margin: 2px;">
            <button id="creatMainbtn" onclick="AddCreate(0);" role="button" class="btn btn-success btn-sm" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> </button>
            <button id="deletMainbtn" onclick="Delete();" role="button" class="btn btn-danger btn-sm" data-toggle="modal"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        <div id="jsTree" class="moduleTree" style="margin-top: 1em; min-height: 200px;"></div>
    </div>

    <input type="hidden" id="moduleId" value="0"/>
    @*右边编辑*@
    <div class="col-md-10" id="rightPart">
        <div class="tabbable" id="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel_Edit" data-toggle="tab">用户基本信息管理</a>
                </li>
                <li>
                    <a href="#panel_RoleJsTree" data-toggle="tab">用户角色分配</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel_Edit"></div>
                <div class="tab-pane" id="panel_RoleJsTree">
                    <div class="col-md-offset-3">
                        <div id="ModuleRoleJsTree" style="margin-top: 1em; min-height: 200px;"></div>
                        <button type="button" id="closeBtn2" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" onclick="SaveRoles()" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
